extends layout

block content
  body
    div(class="row")
      form(method="POST" action="/insert")
        div(class="container")
          input(class="title-post form-control" name="postTitle")
          textarea(name="postText" class="form-control post-text") 
          button(type="submit" class="btn btn-default add-comment pull-right")
            span(class="glyphicon glyphicon-plus-sign ") 
              p(style="display:inline;padding-left:10px;") Add post