extends moderation_layout

block content
    div(class="container forVue" style="margin:100px auto;")
                    form(method="POST" action="/minsertbugs") 
                        h3(style="text-align:center") Блокировка пользователя test13 ID 3
                        hr(class="half-rule")
                        div(class="container post-create-form")
                            p Введите причину блокировки пользователя
                            textarea(type="text" required name="postTitle" id="inputPrefilledEx" class="form-control" rows="3" style="margin-bottom: 10px;")
                            div(class="alert alert-danger")
                                p Внимание! Перед блокировкой пользователя необходимо убедиться в правильности выбора учетной записи, а также в правильности записи причины блокировки!
                                p В том случае, если был выбран не тот пользователь, которого необходимо заблокировать, нажмите на кнопку "Отмена"
                            div(style="display: flex; justify-content: center;")
                                button(type="submit" class="btn btn-danger add-comment pull-right")
                                        p(style="display: inline;") Заблокировать учетную запись
                                button(type="submit" class="btn btn-default add-comment pull-right")
                                        p(style="display: inline;") Отменить