extends moderation_layout

block content
    div(class="container forVue" style="margin:100px auto;")
        h4 Информация о заказе
        table(class="table")
            thead
                tr
                    th(scope="col") Свойство
                    th(scope="col") Значение
            tbody(class="info")
                script(type='text/javascript'). 
                    var orderinfo = [!{ordinfo}];
                    console.log(orderinfo);
                        if(orderinfo.length != 0){
                            $(".info").append('<tr><td>Номер (ID):</td><td>'+orderinfo[0].id+'</td></tr><tr><td>Тип:</td><td>'+orderinfo[0].type+'</td></tr><tr><td>ID заказчика:</td><td>'+orderinfo[0].user+'</td></tr><tr><td>Дата создания заказа:</td><td>'+orderinfo[0].date+'</td></tr><tr><td>Тема:</td><td>'+orderinfo[0].topic+'</td></tr><tr><td>Текст:</td><td>'+orderinfo[0].text+'</td></tr><tr><td>Прикрепленный файл, ID:</td><td>'+orderinfo[0].file+'</td></tr><tr><td>Цена:</td><td>'+orderinfo[0].price+'</td></tr><tr><td>ID исполнителя (если заказ взят в работу):</td><td>'+orderinfo[0].executor+'</td></tr><tr><td>Статус: <small>1 - добавлен, 2 - обработан, 3 - занят</small></td><td>'+orderinfo[0].status+'</td></tr><tr><td>Модерация: <small>1 - ожидание, 2 - проверен, 3 - отклонен</small></td><td>'+orderinfo[0].moder_status+'</td></tr>');
                        } else{
                            $(".info").append('<tr><td>Заказа с таким номером не существует!</td></tr>');
                        }
        button(class="btn btn-default btn-sm" onclick="history.back();") Назад к системе модерации