extends layout

block content
  div(class="container")
    h1 Что такое Lorem Ipsum?
    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
    div(class="container" style="width:34em; margin-top:100px;")
      div(class="col-sm-4 col-md-12")
        div(class="thumbnail")
          div(class="container" style="width:24em;text-align:center;margin-bottom:30px;")
            h2 Вход
            small(style="color:#777") или же можете
              a(href="#") зарегестритоваться
            hr(class="half-rule")
            form(method="POST" action="/register")
              input(type="text" name="login" class="form-control" placeholder="Логин")
              input(type="password" name="passwd" class="form-control" placeholder="Введите пароль")
              input(type="phone" name="phone" class="form-control" placeholder="Телефон")
              input(type="email" name="email" class="form-control" placeholder="Email")
              input(type="text" name="nickname" class="form-control" placeholder="Имя пользователя")

              br
              button(class="btn btn-lg btn-primary btn-block" type="submit") Войти
            br
            span (C) 2018-2019
