extends layout

block content
    div(class="container" style="margin:100px auto;")
        if user
            div(class="row")
                //- Если вошел в аккаунт то выводить вот это col-xs-6 col-md-3
                div(class="col-md-3")
                    div(class="card testimonial-card" style="max-width:22rem;")
                        //- div(class="bloc-header" style="text-align:center;border-top: 1px solid #ddd;border-left: 1px solid #ddd;border-right: 1px solid #ddd; height:100%;padding:15px;border-radius:4px 4px 0px 0px;")
                        -//
                            div(class="card-up card-up aqua-gradient" style="height:120px")
                            div(class="avatar mx-auto white")
                                img(src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle" alt="woman avatar")
                            div(class="card-body")
                                h4(class="card-title") Hello, #{user.username} (#{user.roles})
                        div(class="list-group")
                            a(class="list-group-item list-group-item-action" href="#l" aria-controls="l" role="tab" data-toggle="tab") Моя страница
                            a(class="list-group-item list-group-item-action" href="#tas" aria-controls="tas" role="tab" data-toggle="tab") Выполненые задачи
                            a(class="list-group-item list-group-item-action" href="#gettas" aria-controls="gettas" role="tab" data-toggle="tab") Найти заказ
                            a(href="#" class="list-group-item list-group-item-action") Чат
                            a(href="#" class="list-group-item list-group-item-action") Новости
                            a(href="#" class="list-group-item list-group-item-action") Настройки
                            a(href="#" class="list-group-item list-group-item-action") Сообщение об ошибке
                div(class="col-xs-6 col-md-5")
                    <div class="tab-content">
                        div(role="tabpanel" class="tab-pane active" id="l") My accont
                        div(role="tabpanel" class="tab-pane" id="tas") Tas
                        div(role="tabpanel" class="tab-pane" id="gettas") Get tas
                        div(role="tabpanel" class="tab-pane" id="settings") ...

                    script.
                        $('#myTabs a').click(function (e) {
                            e.preventDefault()
                            $(this).tab('show')
                        })
                        var avatar = "#{user.avatar}";
                        $(".avatar").attr("src","/avatar/"+avatar)
        else
            //- Если человек не вошел в аккаунт то ему выводить это
            p Пожалуйста войдите в аккаунт
            a(href="/users/login") Вход

            